body::-webkit-scrollbar {
  background-color: red;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
.section1Title {
  color: white;
  font-size: 2.5vw;
  font-family: garetHeavy;
  letter-spacing: 0.5vw;
  text-align: center;
  margin-top: 2.5vh;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}
.section3,
.section4 {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.section3Container,
.section4Container {
  display: flex;
  justify-content: center;

  flex-direction: column;
  width: 80vw;
}
.section3Title,
.section4Title,
.section5Title {
  color: white;
  font-size: 2.5vw;
  font-family: garetHeavy;
  letter-spacing: 0.5vw;
  text-align: center;
}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.infoContainer:not(.infoContainer:nth-child(2)) {
  margin-top: 10vh;
}

.infoSmallContainer {
  margin: 5vw;
}
.infoImageWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}

.infoImage {
  width: 40vw;
  height: 40vh;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 45px;
}

.infoTitle {
  color: white;
  font-family: openSans;
}

.infoDescription {
  color: white;
  font-family: samsungSans;
}

.section4 {
  margin-top: 10vh;
}

.commitmentDesciption {
  color: white;
  font-family: samsungSans;
  font-size: 1.5vw;
  text-align: center;
}
