.section5 {
  width: 100vw;
  height: 100vh;
  background-color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageContainer {
  height: 60vh;
  width: 60vw;

  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.imageContainer::-webkit-scrollbar {
  display: none;
}

.imageContainer > img {
  flex: 1 0 100%;
  width: 60vw;
  height: 53.24vh;
  transition: translate 2s;
  border-radius: 140px;
  object-fit: cover;
  scroll-snap-align: start;
}

.galleryNavContainer {
  height: 10vh;
  padding: 0 1vw;
  border-radius: 2vw;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.GNbutton {
  border-radius: 45px;
  background-color: white;
  width: 1vw;
  height: 1vw;
  margin: 0.25vw;
  transition: 0.3s;
}

.GNbutton1 {
  border-radius: 45px;
  background-color: red;
  width: 3vw;
  height: 1vw;
  margin: 0.25vw;
  transition: 0.3s;
}

.GNButtonProgress {
  background-color: gray;
  width: 0%;
  height: 100%;
  border-radius: 45px;
}

.GNbutton:hover {
  background-color: gray;
  cursor: pointer;
}

.galleryNavWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galleryNavWrapper > * {
  margin: 0 0.5vw;
}

#galleryNavControl {
  cursor: pointer;
}
