@keyframes slideInFromUp {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

.section2 {
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;

  animation: slideInFromUp 0.9s ease-in;

  display: none;
}

#eceLogo {
  cursor: pointer;
}

#PLACEHOLDER {
  font-family: "samsungSans";
  font-size: 10rem;
  color: white;
}

.portfolioContainer {
  width: 100vw;
  height: 80vh;

  display: grid;
  grid-template-columns: 1fr 5fr 6fr;
}

@keyframes slideInFromLeft2 {
  from {
    transform: translateX(-10vw);
  }
  to {
    transform: translateX(0);
  }
}

.portfolioNavContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  transform: translateX(-10vw);

  animation: slideInFromLeft2 2s ease-out forwards;

  animation-delay: 0.9s;
}

.portfolioNavControlsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolioNavButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-drag: none;
}

.portfolioNavButtonWrapper > svg {
  transition: 0.3s;
  -webkit-user-drag: none;
}

.portfolioNavButtonWrapper:hover > svg {
  transform: scale(1.1);
}

.portfolioNavButtonWrapper > img {
  position: absolute;
  -webkit-user-drag: none;
}

.portfolioNavControlsContainer > * > svg {
  margin: 1vh;
}

.portfolioNavNameText {
  color: white;
  text-align: left;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);

  font-family: neue;
  font-size: 0.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portFolioPortraitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#portFolioPortraitImage {
  width: 26.5625vw;
  height: 73.1481vh;
  border-radius: 35px;
  opacity: 0;
  animation: fadeInImage 0.9s linear forwards;
  animation-delay: 2s;
}

.portfolioInfoContainer {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.portfolioInfoContainerVerticalLineWrapper {
  display: flex;
  align-items: center;
}

.portfolioInfoContainerVerticalLine {
  height: 80%;
  width: 0.1vw;
  background-color: purple;
}

@keyframes slideInFromDown {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

.portfolioInfoContainerTextWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: slideInFromDown 0.3s linear;
  text-align: left;
}

.portfolioInfoContainerTextWrapper > * > h3 {
  color: white;
  font-family: samsungSans;
  width: 30vw;
}

.portfolioDescriptionWrapper {
  text-align: left;
  width: 30vw;
}

.portfolioInfoContainerTextWrapper > h2 {
  color: violet;
  font-family: openSans;
}
.portfolioInfoContainerTextWrapper > * > h2 {
  color: white;
  font-family: openSans;
}

.portfolioInfoContainerTextWrapper > * > h4 {
  color: white;
  font-family: openSans;
}

.portfolioInfoContainerTextWrapper > * > ul > li {
  color: white;
  font-family: openSans;
}

.portfolioInfoContainerTextWrapper > h3,
.portfolioInfoContainerTextWrapper > h4,
.portfolioInfoContainerTextWrapper > ul,
.portfolioInfoContainerTextWrapper > li {
  font-family: openSans;
  color: white;
}

p {
  color: whitesmoke;
  font-family: neue;
}


@keyframes socmedWrapperFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.socmedWrapper {
  display: flex;
  justify-content: right;
  margin-top: 1vh;
  display:none;
  animation: socmedWrapperFadeIn 1s linear forwards;
  opacity: 0;
  animation-delay: 3s;
  cursor: pointer;
}



.socmedContainer {
  height: 8vh;
  justify-content: right;
  margin: 0 2vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.socmedItem {
  margin: 0 .25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socmedItem > img {
  position: absolute;
  width: 1vw;
  height: 1vw;
}

.socmedItem:nth-child(3) > img {
  height: 2vw;
  width: 2vw;
}

.socmedItem > svg > circle {
  transition: .3s;
}